@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold" style="background-color: lightgoldenrodyellow; color:saddlebrown">歡迎來到我的留言版版~~~~</h1>
    <a class="nav-link fs-3" asp-area="" asp-controller="Post" asp-action="Index">留言版</a>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
